*{
    box-sizing:border-box;
    margin: 0;
    padding: 0;

    position: absolute;
    width: 730px;
    height: 419px;
    background: linear-gradient(113.37deg, rgba(33, 195, 124, 0.6) 0%, rgba(5, 84, 49, 0.7) 83.4%);

}