* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
}

.container {
    position: relative;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(156.04deg, #5A6F6D 0%, rgba(84, 194, 189, 0.47) 100%);
    grid-template-columns: 100vw;
    grid-template-rows: 12.5vh 75vh 12.5vh;
    grid-template-areas: 
    "header"
    "main"
    "footer";
}

.header {
    width: 100vw;
    height: 12.5vh;
    grid-area: header;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main {
    width: 90vw;
    height: 75vh;
    grid-area: main;
}

.swiper {
    display: flex;
    width: 80vw;
    height: 80vh;
    align-items: center;
    justify-content: center;
  }

.footer {
    width: 100vw;
    height: 12.5vh;
    padding: 5%;
    grid-area: footer;
    display: flex;
    align-items: center;
    justify-content: right;
    ;
}

a {
    color: white;
    padding-right: 4%;
}

h1 {
    color: white;
    font-size: 300%;
}