*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;


}


.container{
position: absolute;
width: 100vh;
height: 100vh;
background: linear-gradient(108.23deg, rgba(255, 184, 0, 0.6) 0%, rgba(141, 90, 14, 0.7) 100%);
grid-template-columns: 800vh;
grid-template-rows: 12.5% 75% 12.5%;
grid-template-areas: 
"header"
"main"
"footer";

}

.header {
width: 80vh;
height: 10%;
grid-area: header;
display: flex;
align-items: center;
justify-content: center;
}

.main {
width: 80vh;
height: 80%;
grid-area: main;
}

.footer {
width: 80vh;
height: 10%;
padding: 5%;
grid-area: footer;
display: flex;
align-items: center;
justify-content: right;
}

a {
color: white;
}

h1 {
color: white;
font-size: 1000;
}