<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./static/football.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600&display=swap" rel="stylesheet">
    <title>Football</title>
</head>

<body>
    <div class="container">
        <section class="header">
            <h1>SportChecker</h1>
        </section>
        <section class="main-top">

            <button class="cardLatest">
                <img src="../static/images/_126241340_crystal_palace_getty.jpg" alt="">
                <div class="captionLatest">
                    <h3 class="Latest">Latest</h3>
                </div>
            </button>
        </section>

        <section class="main-bottom">
            <div class="cardTable">
                <img src="../static/images/skysports-premier-league-graphic_5458724.jpeg" alt="">
                <div class="captionTable">
                    <h3 class="Table">League Table</h3>
                </div>
            </div>

            <div class="cardNews">
                <img src="../static/images/_126549619_-ff230b92-a3e1-4ab8-b172-fd52889b9cdf.png" alt="">
                <div class="captionNews">
                    <h3 class="News">News</h3>
                </div>
            </div>
       
        </section>
        
        <section class="footer">
            <a href="tmortimer@s6c.mlp.college">Contact Us</a>
            <a href="https://forms.gle/o41BBW9eXFy4Z8uA7">Help Improve Our App</a>
        </section>
    </div>



</body>

</html>