<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./static/football.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600&display=swap" rel="stylesheet">
    <title>Football</title>
</head>
<body>
    <div class="container">
        <section class="header">
            <h1>SportChecker</h1>
        </section>
        <section class="main">
            <div class="card">
                <img src="../static/images/img_avatar-2.png" alt="Avatar" style="width:100%">
                <div class="containerCard">
                  <h4><b>John Doe</b></h4>
                  <p>Architect & Engineer</p>
                </div>
              </div>
        </section>
        <section class="footer">
            <a href="tmortimer@s6c.mlp.college">Contact Us</a>
            <a href="https://forms.gle/o41BBW9eXFy4Z8uA7">Help Improve Our App</a>
        </section>
    </div>



</body>
</html>