<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/hockey.css">
    <title>Hockey</title>
</head>
<body>
    <div class="container">
        <section class="header">
            <h1>SportChecker</h1>
        </section>
        <section class="main-top">
            <a class="last-game" href="http://localhost:9000/hockey/highlights">
                <img src="../static/images/image1.png" alt="" class="image1">
                <div class="text1">
                    <p>Toronto Maple Leafs 5 - 2 Philadelphia Flyers</p>
                </div>
            </a>
        </section>
        <section class="main-bottom">
            <a class="bottom-card" href="http://localhost:9000/hockey/standings">
                <img src="../static/images/1240327480.0.jpg" width="350px" height="350px" alt="" class="image2">
                <div class="text2">
                    <p>Bruins Top of the League</p>
                </div>
            </a>
            <a class="bottom-card" href="http://localhost:9000/hockey/news">
                <img src="../static/images/bulis.horvat.canes.2019.7184-(1).jpeg" width="350px" height="350px" alt="" class="image2">
                <div class="text2">
                    <p>News</p>
                </div>
            </a>
        </section>
        <section class="footer">
            <a href="mailto:larry2leng@gmail.com">Contact Us</a>
            <a href="https://forms.gle/o41BBW9eXFy4Z8uA7">Help Improve Our App</a>
        </section>
    </div>
</body>
</html>