<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/hockey_news.css">
    <title>Hockey News</title>
</head>
<body>
    <div class="container">
        <section class="header">
            <h1>SportChecker</h1>
        </section>
        <section class="main">
            <div class="news-card">
                <h4>Bruins' 14-game home win streak ends with shootout loss to Golden Knights</h4>
            </div>
            <div class="news-card">
                <h4>Canucks rally twice for OT win against Canadiens</h4>
            </div>
            <div class="news-card">
                <h4>Thompson scores five of nine Sabres goals in win against Blue Jackets</h4>
            </div>
            <div class="news-card">
                <h4>Rangers score four straight in third, defeat Golden Knights</h4>
            </div>
            <div class="news-card">
                <h4>Ovechkin scores two in Capitals win against Flyers</h4>
            </div>
            <div class="news-card">
                <h4>Kaprizov scores in seventh straight game for Wild in loss to Flames</h4>
            </div>
            <div class="news-card">
                <h4>Oilers score eight, hand Coyotes sixth straight loss</h4>
            </div>
        </section>
        <section class="footer">
            <a href="mailto:larry2leng@gmail.com">Contact Us</a>
            <a href="https://forms.gle/o41BBW9eXFy4Z8uA7">Help Improve Our App</a>
        </section>
    </div>
</body>
</html>