<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./static/home.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"/>
    <title>Home</title>
</head>
<body>
    <div class="container">
        <section class="header">
            <h1>SportChecker</h1>
        </section>
        <section class="main">
            <div class="slideshow-container">   
                <div class="mySlides fade">
                    <img src="../static/slider-images/football.jpeg">
                </div>
                <div class="mySlides fade">
                    <img src="../static/slider-images/formula-1-sao-paulo-gp-2022-se-2.jpeg">
                </div>
                <div class="mySlides fade">
                    <img src="../static/slider-images/hockey.jpeg">
                </div>
                <div class="mySlides fade">
                    <img src="../static/slider-images/netball.jpeg">
                </div>
                <div class="mySlides fade">
                    <img src="../static/slider-images/tennis.jpeg">
                </div>
                <div class="mySlides fade">
                    <img src="../static/slider-images/wseries.jpeg">
                </div>
            <div style="text-align:center">
                <span class="dot" onclick="currentSlide(1)"></span>
                <span class="dot" onclick="currentSlide(2)"></span>
                <span class="dot" onclick="currentSlide(3)"></span>
            </div>
        </section>
        <section class="footer">
            <a href="tmortimer@s6c.mlp.college">Contact Us</a>
            <a href="https://forms.gle/o41BBW9eXFy4Z8uA7">Help Improve Our App</a>
        </section>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
</body>
</html>