<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./static/netball.css">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <section class="header">
            <h1>SportChecker</h1>
        </section>
        <section class="main">

        </section>
        <section class="footer">
            <a href="tmortimer@s6c.mlp.college">Contact Us</a>
            <a href="https://forms.gle/o41BBW9eXFy4Z8uA7">Help Improve Our App</a>
        </section>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
</body>

</html>

<div class="card">
    <img src="img_avatar.png" alt="avatar" style="width:100%">
    <div class="container">
        <h4><b></b></h4>
        <p></p>
    </div>
</div>