<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./static/wseries.css">
    <title>W-Series</title>
</head>

<body>
    <div class="container">
        <div class="header"></div>
        <div class="main"></div>

        
        <div class="footer"><a href="https://larry2leng@gmail.com">Contact Us</a>

            <a href="https://forms.gle/o41BBW9eXFy4Z8uA7">Help Improve Our App</a>
        </div>
    </div>
</body>

</html>